<h1 style="color: blue">Hello my name is {{name}} this is my products page</h1> 
{{!-- in our curley braces we are using the information we passed from our burgerController.js on line 23 --}}
<p>The current hour is {{hour}}</p>

<h5>My favorite number is {{number}}</h5> 

<a href="/">Click here to go back</a>